.inputWrap {
  margin-top: 16px;
  display: flex;
  align-items: center;
  position: relative;

  input {
    width: 100%;
  }

  .status {
    position: absolute;
    right: 8px;
    font-size: 12px;
    cursor: help;
  }
}