@import "../../../../styles/color.scss";

.surveyItemWrap {
  height: 200px;
  background-color: $write;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  flex-basis: 48%;
  margin-bottom: 24px;
  box-shadow: 0px 1px 3px -1px $black;

  .iconWrap {
    position: absolute;
    top: -10px;
    right: -10px;
  }

  .surveyContent {
    border-radius: 8px 8px 0px 0px;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    background-repeat: no-repeat;
    background-image: 
      linear-gradient(to right, rgba($primaryLight, 0.1), rgba($primaryLight, 0.1)),
      linear-gradient(to right, $write, $write);
    background-position: 0 0, 54, 0;
    background-size: 54px 100%, 100% 100%;
    position: relative;
    
    time {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: $primaryLight;
      color: $write;
      border-radius: 8px;
      margin-left: 24px;
      align-self: center;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 100px;
      flex-shrink: 0;

      .day {
        font-size: 40px;
        font-weight: bold;
      }

      .month {
        text-transform: lowercase;
        margin: 0px 0px 5px
      }

      .year {
        font-size: 16px;
      }
    }
    p{
      font-size: 18px;
      margin: 24px;
      align-self: center;
      flex-grow: 1;
    }
  }

  footer {
    background-color: $primary;
    color: $write;
    line-height: 40px;
    text-transform: lowercase;
    text-align: center;
    cursor: pointer;
    border-radius: 0px 0px 8px 8px;

    &:hover {
      background-color: $primaryDark;
    }
  }
}

@media only screen and (max-width: 600px) {
  .surveyItemWrap {
    flex-basis: 100%;
  }
}