.surveyItemEmpty {
  height: 200px;
  background-color: $write;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  flex-basis: 48%;
  margin-bottom: 24px;
  box-shadow: 0px 1px 3px -1px $black;

  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image:
    linear-gradient(to right, $disabledBackground, $disabledBackground),
    linear-gradient(to right, $disabledBackground, $disabledBackground),
    linear-gradient(to right, $disabledBackground, $disabledBackground),
    linear-gradient(to right, $disabledBackground, $disabledBackground),
    linear-gradient(to right, $disabledBackground, $disabledBackground);
  background-position:
    24px 30px,
    left 0px bottom 0px,
    108px 52px,
    108px 72px,
    108px 92px;
  background-size:
    60px 100px,
    100% 40px,
    140px 16px,
    120px 16px,
    160px 16px;


  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    animation: shimmer 1.2s infinite;
    background-image:
      linear-gradient(to right, transparent, rgba($write, 0.2), transparent);
  }
}

@media only screen and (max-width: 600px) {
  .surveyItemEmpty {
    flex-basis: 100%;
  }
}

@keyframes shimmer {
  100%{
    transform: translateX(100%);
  }
}